<div>
<app-barra-pestanas></app-barra-pestanas>
<img src="https://get.wallhere.com/photo/white-black-women-monochrome-model-portrait-sitting-photography-fashion-Person-girl-beauty-woman-lady-leg-photograph-darkness-footwear-black-and-white-monochrome-photography-human-positions-portrait-photography-photo-shoot-film-noir-art-model-60269.jpg" alt="">
<div>
<p> Imagenes tomadas de la pagina https://wallhere.com/es/wallpaper usadar solo para razon de ejemplo</p>
<p>Pagina desarrollada por Pablo Galvis</p>
</div>
</div>
