<header class="Headers">

        <p class="parrafo">Shop the new collection here first</p>
        <app-boton [Primera]="'Shop'" [Segunda]="' Now'"></app-boton>

</header>
<img src="https://get.wallhere.com/photo/white-black-women-outdoors-women-monochrome-model-portrait-window-long-hair-brunette-urban-building-legs-sitting-wall-photography-dress-see-through-clothing-braids-fashion-white-clothing-David-Olkarny-clothing-beauty-bride-photograph-black-and-white-monochrome-photography-portrait-photography-film-noir-77427.jpg" alt="">
<app-barra-nab></app-barra-nab>