.boton{
    background: #333333;
    border: 2px;
    border-style: solid;
    border-color: white;
    margin: 15px;
    color: aliceblue;
    padding-inline: 20px;
}
.pri{
    font-family: cursive;
    font-weight: bold;
}